[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgadmin4 = "*"
sqlalchemy = "*"
psycopg2 = "*"
click = "*"
colorama = "*"
argon2-cffi = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-dotenv = "*"
alembic = "*"
alembic-postgresql-enum = "*"
email-validator = "*"
sentry-sdk = {extras = ["sqlalchemy"], version = "*"}
prettytable = "*"

[dev-packages]

[requires]
python_version = "3.11"
